# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# =========================
# JUPYTER / NOTEBOOKS
# =========================
.ipynb_checkpoints/

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOG FILES
# =========================
*.log

# =========================
# SQL SERVER TEMP FILES
# =========================
*.bak
*.ldf
*.mdf